<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="bg-white">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
                <div class="bg-gray-300 border border-gray-200 rounded-lg p-8 md:p-12 mb-8">
                    <h1 class="text-gray-900 text-3xl md:text-5xl font-extrabold mb-2">Pokemon Society</h1>
                    <p class="text-lg font-normal text-500 mb-6">Bienvenue, jeune chercheur, dans la prestigieuse Pokémon Society !
                    </p>
                </div>
    </main>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>